<div>

    <h2 translate="myhealthApp.patient.home.title">Patient</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePatientModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="myhealthApp.patient.home.createLabel">Create a new Patient</span>
    </button>
    <div class="modal fade" id="savePatientModal" tabindex="-1" role="dialog" aria-labelledby="myPatientLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPatientLabel" translate="myhealthApp.patient.home.createOrEditLabel">Create or edit a Patient</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="patient.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="myhealthApp.patient.firstName">FirstName</label>
                            <input type="text" class="form-control"
                                   ng-model="patient.firstName">
                        </div>
                        <div class="form-group">
                            <label translate="myhealthApp.patient.lastName">LastName</label>
                            <input type="text" class="form-control"
                                   ng-model="patient.lastName">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePatientConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(patient.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="myhealthApp.patient.delete.question" translate-values="{id: '{{patient.id}}'}">Are you sure you want to delete Patient {{patient.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="myhealthApp.patient.firstName">FirstName</th>
                    <th translate="myhealthApp.patient.lastName">LastName</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patient in patients">
                    <td><a ui-sref="patientDetails({id:patient.id})">{{patient.id}}</a></td>
                    <td>{{patient.firstName}}</td>
                    <td>{{patient.lastName}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="patientDetail({id:patient.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(patient.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(patient.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
